@font-face {
  font-family: 'uo-font';
  src: url("../font/alagard.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 2rem 1fr 1.25rem;
  cursor: url('../images/cursors/cursor.gif'), auto;
}

header {
  grid: 1;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
}

footer {
  grid: 3;
  font-style: italic;
  text-align: center;
}

/* Stone texture for Header and Footer*/
.stone {
  background-color: black;
  background-image: url("../images/textures/stone-texture.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  border: 2px outset rgba(242, 240, 235, 0.5);
  box-shadow: 0px 2px 5px #191919;
  font-family: Tahoma , Arial, sans-serif;
  color: #D4D5D5;
  z-index: 10;
  position: relative;
  font-size: 0.75rem;
}

.bw-text {
  color: #191919;
  text-shadow: 0.05rem 0.05rem 0.05rem #D4D5D5;
}

.wb-text {
  color: #D4D5D5;
  text-shadow: 2px 2px 2px #191919 ;
}

/*light grey color for anchor tags*/
footer a, header a {
  color: #D4D5D5;
}

a:hover{
  cursor: url("../images/cursors/cursor_open.gif"), pointer;
}


main {
  grid: 2;
  display: grid;
  grid-template-columns: 1fr 1.25rem 2fr 1.25rem 1fr;
  font-family: 'uo-font', Georgia, serif;
  background-color: grey;
}

.column {
  background-image: url("../images/textures/stone-texture.png");
  background-size: cover;
}

/* ****************
   *  LEFT COLUMN *
   **************** */
#column-left {
  grid-column: 1;
  background-image: url("../images/backgrounds/background-left.png");
  background-size: cover;
  background-position: center;
  align-items: flex-start;
  position: relative;
}

#character-panel {
  position: relative;
}

#player-hair {
  z-index: 2;
}
#player-clothes {
  z-index: 1;
}
#player-weapon {
  z-index: 1;
}
.player {
  position: absolute;
  top: 0.9rem;
  left: 0.4rem;
}

#player-name {
  position: absolute;
  bottom: 1.75rem;
  left: 2.25rem;
  font-size: 1.75rem;
}

#weapon_icon {
  position: absolute;
  border-radius: 1rem;
  top: 6rem;
  right: 3rem;
  height: 8rem;
}

#player-info {
  position: relative;
  font-size: 1.35rem;
}

#health-mana {
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.status-bar {
  display: grid;
  grid-template-columns: 1.75rem 1fr;
  /* gap: 0.25rem; */
  align-items: center;
  /* width: 9rem; */
  height: 2rem;
}
.status-bar p {
  grid: 1;
}

#health-bar {
  grid: 2;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 10rem;
}

#health-base {
  position: absolute;
  top: 0.66rem;
  left: 1.8rem;
}

#mana-bar {
  grid: 2;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 8rem;
}
#mana-base {
  position: absolute;
  bottom: 0.5;
  left: 1.8rem;
}

#xp-xps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16.5rem;
}

#level-xp {
  position: absolute;
  bottom: 6.2rem;
  left: 4rem;
}


#modal {
  display: none;
  background-color: #191919a2;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  text-align: center; 
}

input{
  border: 4px outset #218807b7;
  border-radius: 1rem;
  padding-left: 0.5rem;
  background-image: url("../images/textures/modal-text-input-texture.png");
  box-shadow: 1px 2px 5px rgba(245, 245, 245, 0.377);
  height: 2.5rem;
  width: 65%;
  margin-bottom: 1rem;
  font-family: 'uo-font', Georgia, serif;
  font-size: 1.5rem;
}

#modal img{
  margin: 0 0.5rem;
  height: 1.5rem;
}

#cancel:hover {
  filter: brightness(1.25);
  cursor: url("../images/cursors/cursor_open.gif"), pointer;
}

#okay:hover {
  filter: brightness(1.25);
  cursor: url("../images/cursors/cursor_open.gif"), pointer;
}

#cancel:active {
  content: url("../images/buttons/cancel-click.png");
  cursor: url("../images/cursors/cursor_fist.gif"), auto;
}
#okay:active {
  content: url("../images/buttons/okay-click.png");
  cursor: url("../images/cursors/cursor_fist.gif"), auto;
}


/* LEFT DIVIDER */
#left-divider {
  grid-column: 2;
}

/* *****************
   * MIDDLE COLUMN *
   ***************** */

#column-middle {
  grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 1.25rem 9fr;
}
/* TOP MENU PANEL*/
#middleTop {
  grid: 1;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background-image: url("../images/backgrounds/panel-notification-mod-2.png");
  background-position: center;
  background-size: contain;
}

#panel-left {
  grid: 1;
}
#panel-middle {
  background-color: #1919196b;
  padding: 0.25rem 0;
  grid: 2;
  align-self: center;
  text-align: center;
  font-size: 2rem;
}
#panel-right {
  grid: 3;
}

#menu-divider {
  grid: 2;
}

.panel-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.menu-button {
  position: absolute;
  width: 7rem;
}

.menu-button:hover {
  filter: brightness(1.25);
  cursor: url('../images/cursors/cursor_open.gif'), pointer;
}
#options:active {
  content: url("../images/buttons/options-click.png");
  filter: brightness(0.9);
}

#journal:active {
  content: url("../images/buttons/journal-click.png");
  filter: brightness(0.9);
}

#battle-section {
  grid: 3;
  overflow: auto;
  background-image: url('../images/backgrounds/menu-background.png');
  background-size: cover;
  background-position: top;
}

.row-divider {
  position: relative;
  background-image: url("../images/textures/dividers/divider-row.png");
  background-size: contain;
  background-repeat: repeat-x;
  box-shadow: 0 -1px .4em #191919, 0 1px 0.4em #191919;
}

/* RIGHT DIVIDER */
#right-divider {
  grid-column: 4;
}

/* ****************
   * RIGHT COLUMN *
   **************** */

#column-right {
  grid-column: 5;
  padding-top: 5vh;
  background-image: url("../images/backgrounds/background-store.png");
  background-position: bottom left;
  background-size: cover;
}


.column-divider {
  position: relative;
  z-index: 2;
  background-image: url("../images/textures/dividers/divider-col-right.png");
  background-repeat: repeat-y;
  background-position: center;
  box-shadow: -1px 0 .4em #191919, 1px 0px 0.4em #191919;
}


.producer-progress {
  display: flex;
  height: 15vh;
  padding: 1vh;
  overflow: hidden;
  background-color: #003823;
  background-image: url('../images/producers/rooms/roomOne.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}